<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DependencyCheckerConfigurationFile" value="DependencyCheckerConfiguration.xml"/>
    <add key="InstallPowerShellScript" value="Scripts\Dependencies\Setup\install-powershell.bat"/>
    <add key="UpdateExecPolicyScript" value="Scripts\Dependencies\Setup\updatePSExecutionPolicy.bat"/>
  </appSettings>
</configuration>